<?xml version="1.0"?>
<model>
	<name>aigle_iris</name>
	<version>1.0</version>
	<sdf version="1.5">model.sdf</sdf>
	<author>
		<name>Franck Djeumou</name>
		<email>frmbouwe@gmail.com</email>
	</author>
	<author>
		<name>Cyril Mansour</name>
		<email>c.mansour@student.isae-supaero.fr</email>
	</author>
	<description>A model of Aigle an extension to FC for more safety</description>
</model>
